_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
.vscode
.idea
Gemfile
Gemfile.lock
node_modules
package.json
.jekyll-cache
vendor
.sass-cache
jekyll-archives
jekyll-assets
jekyll-feed
jekyll-sitemap
jekyll-seo-tag
jekyll-paginate
jekyll-redirect-from