---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
  <article class="post">

    <h2>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      {% if post.category == "Dev" %}
        <span class="badge badge-dev">{{ post.category }}</span>
      {% elsif post.category == "Bolsa de Valores" %}
        <span class="badge badge-bolsa">{{ post.category }}</span>
      {% elsif post.category == "Fotografia" %}
        <span class="badge badge-photograph">{{ post.category }}</span>
      {% elsif post.category == "Estatística" %}
        <span class="badge badge-estatistica">{{ post.category }}</span>
      {% elsif post.category == "Fitness" %}
      <span class="badge badge-fitness">{{ post.category }}</span>
      {% else %}
        <span class="badge badge-all">{{ post.category }}</span>
      {% endif %}
    </h2>

    <div class="entry">
      {{ post.excerpt }}
    </div>
  </article>
  {% endfor %}
</div>