---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <h1>{{ page.title }}</h1>

  <div class="date">
    {{ page.date | date: "%B %e, %Y" }} |
    {% for tag in page.tags %}
      {{ tag }}
    {% endfor %}
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <a href="https://github.com/albertoivo/albertoivo.github.io/blob/master/{{ page.path }}"
    target="_blank" rel="noopener noreferrer">
    <i style="vertical-align: middle;" class="svg-icon-md github"></i>Edit this post on GitHub
  </a>

  <a class="share-button facebook" target="_blank" rel="noopener noreferrer"
    href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url | cgi_escape }}">
    Share on Facebook
  </a>

  {% include disqus.html %}
</article>